btn-imprimir {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-imprimir:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.btn-imprimir:not(:disabled):hover {
  background-color: #45a049;
}